/*
  Author: Cristiano Araújo
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

#testimonials .quote .feedback-classifier-buttons {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#testimonials .quote .feedback-classifier-buttons a {
  margin-left: 8px;
}

#testimonials .quote.disliked-quote {
  background: #8b000091;
  color: #fff;  
}

#testimonials .quote.liked-quote {
  background: #90ee9059;
}