/*
  Author: Cristiano Araújo
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

#quote {
  .feedback-classifier-buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}